.container-fluid {
    .listDiv {
        .mat-selection-list {
            .mat-list-option {
                height: auto;
                padding: 6px 0;
                line-height: 1;
            }
        }
    }
}