<div class="d-flex align-items-center justify-content-end mb-3">
    <span class="material-icons" (click)="close()">
        close
    </span>
</div>
<h3 class="m-0 text-justify">
    Galves Market Data, LLC has been providing used car trade-in values to the automotive industry since 1957. Galves is
    well-respected among dealers and enjoys a reputation for publishing the most accurate and realistic trade-in values
    available. For more information on Galves values and products, please visit
    <a href="https://www.galves.com" target="_blank">www.galves.com</a> or call <span class="phoneNumber">201.393.0051</span>.
</h3>